{% extends 'base.html' %}

{% block head %}
<title>Dashboard</title>
{% endblock %}

{% block body %}
<br>
<br>
<br>
<div>
    <h1 style="display:inline">All Events Organised</h1> 
    <a class=" btn btn-success float-right" href='/home'> Home </a>
</div>

<hr>
    
    {% for event in events %}
        <br>
        <h2>{{ event.event_name }}</h2>
        
        {% if event.organiser %}
            <h3>Organised By: {{event.organiser}} on {{event.date_booked}} </h3> 
            <!--To print the string of post.author-->
        {% else %}
            <small>Organised by: Unknown on {{event.date}} </small>
        {% endif %}
        
        <h3>Event Location:{{event.event_location}}</h3>
        <h3>Event Type: {{event.event_type}}</h3>

    <br>
        
    {% endfor%}
    
{% endblock %}